html

* {
  font-family: verdana, sans-serif;
}

body {
  background-color: black;
}

h3 {
  font-size: 16px;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

a {
  color: yellow;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 50px;
  color: white;
}

.video {
  text-align: center;
}

.camping {
  color: gray;
  text-align: center;
  font-size: 21px;
}

.footer {
  text-align: center;
}
